Body{
  font-family: 'Roboto', sans-serif;
  background-image: url("background.jpg");
  background-color: #cccccc;
  overflow: hidden;
  height: 700px; /* You must set a specified height */
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; /* Resize the background image to cover the entire container */
}


canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1200px;

}

#timer {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  color: #000;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#time {
  font-weight: bold;
  color: #f00;
}




h1 {
  font-size: 2.5rem;
  color: #FF7F50;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 1;
}

p {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1.5rem;
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 1;
}